.header {
  background-color: #333;
  color: #fff;
  height: 25vh;
  width: 100vw;

  h1 {
    font-size: 3em;
    padding-top: 6vh;
    padding-left: 3vw;
  }

  p {
    padding-left: 3.2vw;
    margin-top: 1vh;
    font-weight: bold;
  }
}
